@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
    @font-face {
      font-family: "Circular Black";
      src: url("https://a1.muscache.com/airbnb/nabelove/locations/assets-pretzel/o2.0-pretzel/build/fonts/circular-black-eacab50a0d48e0117b4a8aa27f29b1a3.eot?");
      src: url("https://a1.muscache.com/airbnb/nabelove/locations/assets-pretzel/o2.0-pretzel/build/fonts/circular-black-eacab50a0d48e0117b4a8aa27f29b1a3.eot?#") format("eot"), url("https://a2.muscache.com/airbnb/help/public/fonts/Circular_Air-Black-cacc9d2e8a3e8edf28df2da2234f4166.woff") format("woff"), url("https://a2.muscache.com/airbnb/help/public/fonts/Circular_Air-Black-a4242b3d7631cb897b76e3e4da25869c.ttf") format("truetype"), url("https://a2.muscache.com/airbnb/help/public/fonts/Circular_Air-Black-9e02c8497a070745e139c0b1f2bd8a18.svg") format("svg");
      letter-spacing: -1px !important;
    }

    @font-face {
      font-family: "Circular Light";
      src: url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-199f6f9d92c4f5f0cabe9ce7765467a9.woff2") format("woff2");
      font-weight: 200;
      font-style: normal;
    }

    @font-face {
      font-family: Circular;
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-a952ee2c4bd292728a2439f767e3a260.eot");
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1f5a0275bdd69dbbeadffab401c698a2.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-7f15c543c7006815105f5df71824836d.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-98e37c7514bb7096658cabbf6d43e783.svg") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: Circular;
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot");
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-4909b413294f9048153d6dee23438b24.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-1db902f5b85bbb0964e2994434edbe16.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-0d9eb203b260869dc2470ae35162fc1e.svg") format("svg");
      font-weight: normal;
      font-style: italic;
    }

    @font-face {
      font-family: Circular;
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-c4da182b004982220ffd5caf5555cf2d.eot");
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-7ceb09864a7ed03b9c10cfa2f7281315.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-eacfa7beaa999351b4f89935e0126b19.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-190e0f26359cdc7d8d093e1a04983ed3.svg") format("svg");
      font-weight: 700;
      font-style: normal;
    }

    @font-face {
      font-family: Circular;
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-3d9fa9ce4a6feb3bb7eab142470dd7d3.eot");
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-42f300daf805956564cdf1fcb56d2c6f.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-1cf016706a26eb4bf820dca2dca82c9f.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-ea56415eb35466568fd22e41c7352796.svg") format("svg");
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: Circular;
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-3d9fa9ce4a6feb3bb7eab142470dd7d3.eot");
      src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-42f300daf805956564cdf1fcb56d2c6f.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-1cf016706a26eb4bf820dca2dca82c9f.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-ea56415eb35466568fd22e41c7352796.svg") format("svg");
      font-weight: 200;
      font-style: normal;
    }
  
.bodytxt1{font-family: 'Circular','NanumSquare', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-weight: 300;
    color: #484848;
    font-size: 18px;
    hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    text-align: left;
    margin-bottom: 0px !important;
}


p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.bodytxt2{padding: 0;
    text-align: left;
    margin: 0;
    -ms-hyphens: none;
    word-break: keep-all;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    color: #484848;
    font-weight: 300;
    font-family: "Circular",'NanumSquare', "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 0 !important;
}
@media only screen and (max-width: 596px)
table.body center {
    min-width: 0 !important;
}

body{
    font-size: 16px;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Circular","NanumSquare", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 1.3;
    color: #0a0a0a;
    text-align: left;
    width: 100% !important;
}

#contactcolor{!important
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-weight: 300;
    font-size: 18px;
    hyphens: none;
    font-family: "Circular","NanumSquare", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #f16272;}

.col-md-8>.bodytxt-h{
        padding: 0;
    margin: 0;
    text-align: left;
    font-family: "Circular", "NanumSquare", Helvetica, Arial, sans-serif;
    max-width: 485px;
    font-weight: 700;
    color: #484848;
    line-height: 1.3;
    word-break: keep-all;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    font-size: 32px;
    -ms-hyphens: none;
    padding-bottom: 8px;
    margin-bottom: 0 !important;
}
.hanguel{
    font-weight: 400;
}

/* clearfix */
.clearfix:before, .clearfix:after{
	content:"";, display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}


*{
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.5s ease;   
    

}
.container{
        margin-top: 65px;
}
.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;

}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo img {
  height: 100px;
padding-left: 120px;
    margin-left: 100px;
}

.navbar .logo{
border-bottom: solid darkgray  1px;
     background-color: #ffffff;

}


#footer{
        display: block;    font-size: 11px;    line-height: 1.5;
    color: #404040; font-family: 'Spoqa Han Sans';
}

@media (max-width: 768px)
#footer .lower-footer {
    padding: 1rem 0;
    text-align: center;
}

#footer .lower-footer {
    padding: 3.5rem 0;
    background-color: #333;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

#footer .lower-footer .wrapper.left-wrapper {
   /* float: left;*/
}
@media (max-width: 768px)
#footer .lower-footer .wrapper {
    display: inline-block !important;
    float: none !important;
    margin: 1rem 0 !important;
    vertical-align: middle !important;
}
#footer .lower-footer .wrapper {
    padding: 0 1rem;
}

@media (max-width: 768px)
#footer .lower-footer .wrapper.left-wrapper .header {
    display: inline-block;
    height: auto;
}
#footer .lower-footer .wrapper.left-wrapper .header {
    height: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

@media (max-width: 768px)
#footer .lower-footer .wrapper.left-wrapper .header .logo {
    display: block;
    float: none;
    margin: 0 auto;
    margin-bottom: 1rem;
}


#footer .lower-footer .wrapper.left-wrapper .header .logo {
    float: left;
    height: 3rem;
    margin-right: 3em;
}

#footer .lower-footer .wrapper.left-wrapper .header .menu-btn-list {
    float: left;
    margin: 0;
    padding: 0;
    color: #CCC;
    list-style: none;
}

#footer .lower-footer .wrapper.left-wrapper .header .menu-btn-list .menu-btn {
    float: left;
    margin-right: 1rem;
}
a2 {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#footer .lower-footer .wrapper.left-wrapper .content {
    color: #999;
    font-size: 0.8rem;
}

#footer .lower-footer .wrapper.right-wrapper {
    float: right;
    margin-top: 0.5rem;
}
@media (max-width: 768px)
#footer .lower-footer .wrapper {
    display: inline-block !important;
    float: none !important;
    margin: 1rem 0 !important;
    vertical-align: middle !important;
}

#footer .lower-footer .wrapper {
    padding: 0 1rem;
}

@media (max-width: 768px)

#footer .lower-footer .wrapper.right-wrapper .signup-btn {
    margin-bottom: 1rem;
}

#footer .lower-footer .wrapper.right-wrapper .signup-btn {
    display: block;
    width: 15rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    background-color: #FD675A;
    color: #FFF;
    text-align: center;
}

a3 {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#footer .lower-footer .wrapper.right-wrapper .sns-btn-list {
    text-align: center;
}

.imground{
    height: 200px;
    width: 200px;
}