@charset "utf-8";

#top_navbar {
    background: rgba(0,0,0,0.7);
}

#top_navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.separator {
    
    margin-top: 80px;
    padding: 21px;
    text-align: center;
    color: #fff;
}

.red {
    background: #fcc;
    border: #eaa solid 4px;
}

.yellow {
    background: #f6f6c0;
    border: #dd7 solid 4px;
}

.green {
    background: #bfc;
    border: #ada solid 4px;
}

.bluegreen {
    background: #aee;
    border: #8dd solid 4px;
}

.blue {
    background: #bcf;
    border: #9ae solid 4px;
}


.pet_image {
    width: 100%;
}

.item img {
    /*width: 100%;*/
}

.fa-file {
    font-size: 10px;
}


.carousel-inner > .item > img ,carousel-caption{
      top: 0;
      left: 0;
      height:500px;
      min-width: 100%;}


.search {width: 500px;height: 40px;margin: 150px auto;background: #444;background: rgba(0,0,0,.2);border-radius:  3px;border: 1px solid #fff; position: absolute;
            left:510px;
            top:150px;}

    .search input {width: 370px;padding: 10px 1px;float: left;color: #fff;border: 0;background: transparent;border-radius: 3px 0 0 3px;}

    .search input:focus {outline: 0;background:transparent;}

    .search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 120px;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0;}   

    .search button:hover {background: #fff;color:#444;}
    .search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

    .search button:focus {outline: 0;}


    
    .recomm_wrap {
    overflow: hidden;
    position: relative;
    padding: 9px 10px   10px;
    max-height: 52px;
    width: 100%;
    background-color:antiquewhite;

    color: #fff;
         display:flex;
            flex-direction:row;
}



.recomm_wrap .recomm_list .recomm_item {
    display: inline-block;
    height: 30px;
    line-height: 18px;
    border: 1px solid antiquewhite;
    margin: 10px 49px;
    font-size: 17px;
     
}

.hash {
 color: white; text-decoration: none;
    
}
.hash:hover, .hash:visited{
     color:currentColor; text-decoration: none;
}

.bg-small {
    width: 700px; height: 300px;
    background-size: contain;
}

.textlocation{
    left: 40px;
}



ul {
  list-style: none; 
}

li {
  display: inline; 
}



.footer__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 3em 1em; 
}
  @media (min-width: 768px) {
    .footer__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; 
    } 
}

ul.footer__social-media {
  padding: 0; 
}

.footer__text {
  text-transform: lowercase;
  font-size: 0.8em; 
}

.footer__left {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; 
}

  @media (min-width: 768px) {
    .footer__left {
      margin: auto 0; 
    } 
}

.footer__right {
  margin: 2em auto 0 auto; 
}
  @media (min-width: 768px) {
    .footer__right {
      margin: auto 0; 
    } 
}

p.footer__text a {
  text-decoration: underline; 
}


.sm-item {
  display: inline-block;
  height: 48px;
  width: 48px;
  text-align:center;
top :10px;
  background: black;
  color: #ECECEC;
  border-radius: 50%; 
}


  .sm-item:hover, .sm-item:focus {
    opacity: 0.6;
}

.footer__logo:hover, .footer__logo:focus, .header__logo:hover, .header__logo:focus {
  opacity: 0.6; 
}


/*후기*/
#landing .section.section8 .section-inner {
    padding: 6rem 1rem 4rem 1rem;
    background-color: rgba(255,255,255,0.9);
}

#landing .section .section-title {
    margin-bottom: 2rem;
    color: #FE605C;
    font-size: 1.2rem;
    text-align: center;
}
