@charset "utf-8";

.item img {
    /*width: 100%;*/
}

.fa-file {
    font-size: 10px;
}


.carousel-inner > .item > img ,carousel-caption{
      top: 0;
      left: 0;
      height:500px;
      min-width: 100%;}


.search {width: 500px;height: 40px;margin: 150px auto;background: #444;background: rgba(0,0,0,.2);border-radius:  3px;border: 1px solid #fff; position: absolute;
            left:510px;
            top:150px;}

    .search input {width: 370px;padding: 10px 1px;float: left;color: #fff;border: 0;background: transparent;border-radius: 3px 0 0 3px;}

    .search input:focus {outline: 0;background:transparent;}

    .search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 120px;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0;}   

    .search button:hover {background: #fff;color:#444;}
    .search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

    .search button:focus {outline: 0;}


    
    .recomm_wrap {
    overflow: hidden;
    position: relative;
    padding: 9px 10px   10px;
    max-height: 52px;
    width: 100%;
    background-color:antiquewhite;

    color: #fff;
         display:flex;
            flex-direction:row;
}



.recomm_wrap .recomm_list .recomm_item {
    display: inline-block;
    height: 30px;
    line-height: 18px;
    border: 1px solid antiquewhite;
    margin: 10px 49px;
    font-size: 17px;
     
}

.hash {
 color: white; text-decoration: none;
    
}
.hash:hover, .hash:visited{
     color:currentColor; text-decoration: none;
}

.bg-small {
    width: 700px; height: 300px;
    background-size: contain;
}

.textlocation{
    left: 40px;
}


.container2 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.h-100 {
    height: 100%!important;
}
.card {
    margin-left: 10px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
      box-sizing: border-box;
    
}
.portfolio-item{
    margin-bottom: 45px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
img {
    vertical-align: middle;
    border-style: none;
}
 

.imground{
    height: 200px;
    width: 200px;
}


 