nav, .navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background:white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: white;
}

.navbar-brand>img{
    height: 180%;
    padding-bottom: 10px;
}