nav, .navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background:white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: white;
}

.navbar-brand>img{
    height: 200%;
    padding-bottom: 10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 10px;
    font-size: 18px;
    padding-top: 0px;
    line-height: 20px;
    bottom: 10px;
    margin-bottom: 30px;
}
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 10px;
}






#footer{
        display: block;    font-size: 11px;    line-height: 1.5;
    color: #404040; font-family: 'Spoqa Han Sans';
}

@media (max-width: 768px)
#footer .lower-footer {
    padding: 1rem 0;
    text-align: center;
}

#footer .lower-footer {
    padding: 3.5rem 0;
    background-color: #333;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

#footer .lower-footer .wrapper.left-wrapper {
   /* float: left;*/
}
@media (max-width: 768px)
#footer .lower-footer .wrapper {
    display: inline-block !important;
    float: none !important;
    margin: 1rem 0 !important;
    vertical-align: middle !important;
}
#footer .lower-footer .wrapper {
    padding: 0 1rem;
}

@media (max-width: 768px)
#footer .lower-footer .wrapper.left-wrapper .header {
    display: inline-block;
    height: auto;
}
#footer .lower-footer .wrapper.left-wrapper .header {
    height: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

@media (max-width: 768px)
#footer .lower-footer .wrapper.left-wrapper .header .logo {
    display: block;
    float: none;
    margin: 0 auto;
    margin-bottom: 1rem;
}


#footer .lower-footer .wrapper.left-wrapper .header .logo {
    float: left;
    height: 3rem;
    margin-right: 3em;
}

#footer .lower-footer .wrapper.left-wrapper .header .menu-btn-list {
    float: left;
    margin: 0;
    padding: 0;
    color: #CCC;
    list-style: none;
}

#footer .lower-footer .wrapper.left-wrapper .header .menu-btn-list .menu-btn {
    float: left;
    margin-right: 1rem;
}

#footer .lower-footer .wrapper.left-wrapper .content {
    color: #999;
    font-size: 0.8rem;
}

#footer .lower-footer .wrapper.right-wrapper {
    float: right;
    margin-top: 0.5rem;
}
@media (max-width: 768px)
#footer .lower-footer .wrapper {
    display: inline-block !important;
    float: none !important;
    margin: 1rem 0 !important;
    vertical-align: middle !important;
}

#footer .lower-footer .wrapper {
    padding: 0 1rem;
}

@media (max-width: 768px)

#footer .lower-footer .wrapper.right-wrapper .signup-btn {
    margin-bottom: 1rem;
}

#footer .lower-footer .wrapper.right-wrapper .signup-btn {
    display: block;
    width: 15rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    background-color: #FD675A;
    color: #FFF;
    text-align: center;
}

#footer .lower-footer .wrapper.right-wrapper .sns-btn-list {
    text-align: center;
}