.make-transparent{
  background-color : transparent;
}

.form-group{
  position: relative;
}

.form-control{
  border: 0px;
  background-image:linear-gradient(#25a030, #25a030), linear-gradient(#D2D2D2, #D2D2D2);
  background-size : 0% 2px, 100% 1px;
  background-position : center bottom, center 100%;
  background-repeat : no-repeat;
  border-radius: 0px;
  background-color: transparent;
  transition : background 0.3s ease-out;
}

.form-control:focus{
  outline : none;
  padding: 2px;
  background-image:linear-gradient(#25a030, #25a030), linear-gradient(#D2D2D2, #D2D2D2);
      background-size: 100% 2px , 100% 1px;
}

.form-control:focus + .control-label, .has-value + .control-label{
      top: -20px;
    left: -14px;
    font-size: 10px;
  
}
.control-label{
  position : absolute;
  top: 6px;
  font-size:14px;
  padding-left: 13px;
  pointer-events : none;
  transition : all 0.2s ease-out;
}

.option_style{
	font-size:10px;
	font-weight: bold;
}